<div id="products" class="page-layout carded fullwidth inner-scroll mb-48">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">

    
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
             Add Work Order
                </span>
            </div>  
        </div>
       
        <div class="content-card" style="width: 763px;
    
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #ccc;">
           



            <mat-card class="card" style=" min-width: 80%;">
                <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                  <!-- <h3>Add New WorkOrder</h3> -->
                </mat-card-title>
                <mat-card-content>


<form class="example-form" [formGroup]="createOrderForm">
    <div class="" fxflex="1 0 auto" fxlayout="row" fxLayoutAlign="center" 
    style="margin-top:8px; display: block !important; text-align: center;">

        <mat-form-field fxFlex="40" class="pr-24" appearance="outline">
            <mat-label>Order Date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="OrderDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
       
        <mat-form-field fxFlex="40" appearance="outline">
            <input type="text" placeholder="Type to search.." formControlName="ClientName" matInput
                [matAutocomplete]="materialDD">
            <mat-autocomplete #materialDD="matAutocomplete">
                <mat-option *ngFor="let vendor of vendorList1 | async" [value]="vendor.Name"
                    (onSelectionChange)="onSelectVendor(vendor)">
                    {{vendor.Name}}
                </mat-option>
            </mat-autocomplete>
           
        </mat-form-field>
    </div>
    <div class="" fxflex="1 0 auto" fxlayout="row" fxLayoutAlign="center" 
    style="margin-top:8px; display: block !important; text-align: center;">
        <mat-form-field fxFlex="40" class="pr-24" appearance="outline">
            <mat-label>Delivery Date</mat-label>
            <input matInput [matDatepicker]="picker2" placeholder="Choose a date" formControlName="DeliveryDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
       
        <mat-form-field fxFlex="40" appearance="outline">
            <mat-label>Client PO No</mat-label>
            <input type="text" placeholder="" matInput formControlName="ClientPONo" />
        </mat-form-field>
    </div>
    <div class="" fxflex="1 0 auto" fxlayout="row" fxLayoutAlign="center" 
    style="margin-top:8px; display: block !important; text-align: center;">
        <mat-form-field fxFlex="40" class="pr-24" appearance="outline">
            <mat-label>Client ID</mat-label>
            <input type="text" matInput formControlName="ClientID" readonly />
        </mat-form-field>
       
        <mat-form-field fxFlex="40" appearance="outline">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="Priority">
                <mat-option value="Urgent">Urgent</mat-option>
                <mat-option value="Normal">Normal</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="" fxflex="1 0 auto" fxlayout="row" fxLayoutAlign="center" 
    style="margin-top:8px; display: block !important; text-align: center;">
        <div class="container">
                <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden  type="file" (change)="onFileSelected()" #fileInput id="file" formControlName="UploadedImage">
            <span>{{displayFileName}}</span>
        </div>
    </div>
    <br>
    <br>
    
    <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center" style="margin-top: 10px;">
        <div class="text-center">
            <button style="width: 200px;" mat-raised-button cdkFocusInitial color="accent" (click)="save()" [disabled]="createOrderForm.invalid" onclick="this.disabled = true" id="condition">Save</button>
            &nbsp;&nbsp;
            <!-- <button mat-raised-button cdkFocusInitial color="warn" (click)="clear()">Clear</button> -->
        </div>
    </div>
</form>


</mat-card-content>
</mat-card>



        </div>    
    </div>
</div>





