<div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
  
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <h2 mat-dialog-title color="primary">Desgin View </h2>
                </span>

               
            </div>
            <!-- <div class=""  fxFlex="1" style="flex: 1 1 100%;box-sizing: border-box;max-width: 0%;padding-left: 525px;">
               
                    <button  mat-raised-button type="button" color="primary" (click)="downloadCSV()">
                        Export
                </button> 
             
            </div> -->
            
            <div fxFlex="4">
                    <button  style="    margin-left: -88px;" mat-raised-button type="button" (click)="convert()">
                            Print
                    </button> 
                    &nbsp;
                    <button mat-icon-button mat-dialog-close style="background: red;height: 33px;
                    width: 33px;">
                      <mat-icon style="margin: 0px 0px 8px 0px;">close</mat-icon>     
                    </button>    
                    </div>
            </div></div>






<div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="space-around center">
    <div fxFlex="97"><h2 mat-dialog-title></h2>
        </div>
    
  </div>
  <mat-dialog-content class="mat-typography" id="obrz"> 
  



        <div class="row">
                <div class="col-75">
                  <div class="container">
                    <form action="/action_page.php">
              
                      <div class="row">
                        <div class="col-50">
                          <h3>Product Details</h3>
                          <label for="fname"><i class="fa fa-user"></i> Product Code</label>
                          <strong>10123</strong>
                          
                          <label for="email"><i class="fa fa-envelope"></i> Product Name</label>
                          <strong>Worm-Superior</strong>  
                        </div>
              
                        <div class="col-50">
                         
                          <label for="fname"></label>
                          
                          <label for="cname">Net Weight (In. Kgs.)</label>
                         <strong>0.00</strong>
                         <label for="cname">Gross Weight (In. Kgs.)</label>
                         <strong>0.00</strong>
                         <label for="cname">Size (L x B x H)</label>
                         <strong>0.000 X 0.000 X 0.000</strong>
                          
                       
                        </div>
              
                      </div>
                      
                      
                    </form>
                  </div>
                </div>
              
                <!-- <div class="col-25">
                  <div class="container">
                    <h4>Cart 
                      <span class="price" style="color:black">
                        <i class="fa fa-shopping-cart"></i> 
                        <b>4</b>
                      </span>
                    </h4>
                    <p><a href="#">Product 1</a> <span class="price">$15</span></p>
                    <p><a href="#">Product 2</a> <span class="price">$5</span></p>
                    <p><a href="#">Product 3</a> <span class="price">$8</span></p>
                    <p><a href="#">Product 4</a> <span class="price">$2</span></p>
                    <hr>
                    <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
                  </div>
                </div> -->
              </div>


  
              <iframe src="../FileProductDesign/0_Tabular.jpg" width="100%" height="560px"></iframe>     
  </mat-dialog-content>

  

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4" style="padding-top: 20px !important;     color: #ccc;">

     
        © 2019 Copyright:<a class="footer-copyright text-left" href="http://carinait.net/gallard">gallardsteel.com </a>- All right Reserved
        
    <span class="footer-copyright text-right" style="float: right;     color: #ccc;">
       Powered by<a href="http://carinait.net"> carinait</a>
    </span>
    

  </footer>
  <!-- Footer -->
