<h1 mat-dialog-title>Enter Reason To Delete Moulding</h1>
<div mat-dialog-content>
    <form [formGroup]="formVar">
        <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">
  <mat-form-field>
    <input matInput placeholder="Enter Password" formControlName="password" type="text">
  </mat-form-field>
        </div>
</form>
</div>
<div mat-dialog-actions>
  
  <button mat-button mat-dialog-close cdkFocusInitial>cancel</button>
  <button mat-button (click)="onNoClick()">ok</button>
</div>