<div id="products" class="page-layout carded fullwidth inner-scroll mb-48">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">

        <!-- <button mat-icon-button
                class="secondary-text"
                 aria-label="Palette" [routerLink]="['/indent/issue-stock']">
            <mat-icon class="s-20">arrow_back</mat-icon>
        </button> -->
                <span class="logo-text h1" >
                    Order Status Stage
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input  name="search" (keyup)="search($event)" placeholder="Search ">
                </div>
            </div> 
            <div class="">
                    <!-- <a href="#" class="export">Export Table data into Excel</a>
                    <button class="mr-12" mat-raised-button type="button" (click)="exportTableToCSV('indent-list.csv')">
                            Export121212
                    </button> all-order-->
                <!-- <button class="mr-12" mat-raised-button type="button"  [routerLink]="['/indent/all-order']" >
                      All Order
                </button> -->
                </div>
            
        </div>
       

        
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="listData"
                       matSort
                      
                       fusePerfectScrollbar  (matSortChange)="sortData($event)">


                       <ng-container matColumnDef="workorderno" >
                            <mat-header-cell *matHeaderCellDef >WOID</mat-header-cell>
                            <mat-cell *matCellDef="let material;let i = index" >
                                <p class="text-truncate">
                                   <a  (click)="changePage(material.WOID)">    <!--[routerLink]="['/indent/stage-details']"-->  
                                   {{material.WOID}}
                                  
                                   </a>
                               </p>   
                            </mat-cell>
                        </ng-container>
                   
                        <ng-container matColumnDef="order-date" >
                            <mat-header-cell *matHeaderCellDef >Order Date</mat-header-cell>
                            <mat-cell *matCellDef="let material;let i = index" >
                                <p class="text-truncate">{{moment(material.Orderdate).format('MM/DD/YYYY')}}</p>
                            </mat-cell>
                        </ng-container>
                   
                        <ng-container matColumnDef="Delivery Date" >
                            <mat-header-cell *matHeaderCellDef mat-sort-header="Delivery Date">Delivery Date</mat-header-cell>
                            <mat-cell *matCellDef="let material">
                               <p class="text-truncate">{{moment(material.Deliverydate).format('MM/DD/YYYY')}}</p>
                            </mat-cell>
                        </ng-container>
                   
                        <ng-container matColumnDef="Client PO No" >
                            <mat-header-cell *matHeaderCellDef mat-sort-header="Client PO No">ClientPO. No.</mat-header-cell>
                            <mat-cell *matCellDef="let material">
                                <p class="text-truncate">{{material.ClientPoNo}}</p>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="Client Name" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header="Client Name">Client Name</mat-header-cell>
                                <mat-cell *matCellDef="let material">
                                    <p class="text-truncate">{{material.Name}}</p>
                                </mat-cell>
                            </ng-container>
                   
                   
                        <ng-container matColumnDef="Entry Date" >
                            <mat-header-cell *matHeaderCellDef mat-sort-header="Entry Date">Entry Date</mat-header-cell>
                            <mat-cell *matCellDef="let material">
                                <p class="text-truncate">{{moment(material.Entrydate).format('MM/DD/YYYY')}}</p>
                            </mat-cell>
                        </ng-container>
                   
                        <ng-container matColumnDef="Username" >
                                <mat-header-cell *matHeaderCellDef mat-sort-header="Username">Design</mat-header-cell>
                                <mat-cell *matCellDef="let material">
                                   
                                        <div ><mat-icon>
                                            <a href="/{{material.UploadPo}}" target="_blank">image</a></mat-icon></div>
                                </mat-cell>
                            </ng-container>
                   
                         
                                    
                        <ng-container matColumnDef="view" >
                                
                            <mat-header-cell *matHeaderCellDef mat-sort-header="view" fxFlex="100px">Status</mat-header-cell>
                            <mat-cell *matCellDef="let material" fxFlex="100px">
                               <!-- (click)="openApprove()" -->
                       <!-- <mat-icon style="color: #2e9be5;">history</mat-icon>  -->
                                            <p class="text-truncate">{{material.Status}}</p>
                   
                   
                                    </mat-cell>
                        
                        </ng-container>
                   
                    
               


               
                <!-- <ng-container matColumnDef="view" >
                    <mat-header-cell *matHeaderCellDef mat-sort-header="view" fxFlex="100px">View</mat-header-cell>
                    <mat-cell *matCellDef="let material" fxFlex="100px">
                        <button mat-icon-button [routerLink]="['/indent/stage-details']">  <mat-icon>history</mat-icon></button>
                    </mat-cell>
                </ng-container> -->
               
          
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let indent; columns: displayedColumns;let i = index"
                         class="product">
                </mat-row>

            </mat-table>

           

        </div>
       
    </div>
    
</div>






