

      <div class="center">

        
          <div class="header accent"
               fxLayout="column" fxLayoutAlign="center center"
               fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
    
          
              <div class="logo mb-24 mb-md-0"
                   fxLayout="row" fxLayoutAlign="start center">
                  <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                      <h2 mat-dialog-title color="primary"> &nbsp;Preview PDF</h2>
                  </span>
  
                 
              </div>
          
              
              <div fxFlex="4">
                    
                      <button mat-icon-button mat-dialog-close style="background: red;height: 33px;
                      width: 33px;">
                        <mat-icon style="margin: 0px 0px 8px 0px;">close</mat-icon>                  
                      </button>    
                      </div>
              </div></div>



  <section class="collapse-pane">
    <h3 class="mb-0"><strong></strong></h3>
            
  </section>
 <section>  
  <mat-dialog-content class="mat-typography">
<iframe style="width: 100%;
height: 464px;" id="myframe"></iframe>
    
</mat-dialog-content>
</section>


    